@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    @*<script src="~/Scripts/controllers/dashboard/controller.js"></script>*@
}
<div ng-controller="dashboard">
    <br />
    <div class="container">
        <h3 class="row title">
            <div class="col-xs-6"></div>
            @*<div class="col-xs-6 text-right text-gray">{{ today | date:'MMMM d, y' }}</div>*@
        </h3>
    </div>
    <div class="container" ng-init="init()">
        <!--menu bar-->
        @*@Html.Partial("~/Views/Shared/partial/_menubar.cshtml")*@
    </div>
    <div class="container">
        <h3 class="row title">
            @*<div class="col-xs-12">Dashboard</div>*@
        </h3>
        <div class="row">
            <div class="col-md-12">
                <center><img src="Images/Home.gif" alt="" /></center>
            </div>
        </div>
    </div>
</div>