<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

    <!-- Nav Title -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand easing" href="../../../Views/Home/Index.cshtml">
        <img src="../../assets/images/sunloan.png">
        Sunloan <span class="badge">1.4</span>
      </a>
    </div>

    <!-- Nav Collapse -->
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left navbar-grid">
        <li class="dropdown">
          <a class="dropdown-toggle easing" data-toggle="dropdown"><i class="fa fa-th"></i> </a>
          <ul class="dropdown-menu fx-slidedown" role="menu">
            <li class="col-xs-6 border-right">
              <a href="#/writeoff" class="row">
                <i class="fa fa-pencil bg-blue"></i>
                <span class="text-blue">Writeoff</span>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="#/application" class="row">
                <i class="fa fa-plus-circle  bg-sky"></i>
                <span class="text-sky">Application</span>
              </a>
            </li>
            <li class="col-xs-12 divider"></li>
            <li class="col-xs-6 border-right">
              <a href="#/drawer/cash_transfer" class="row">
                <i class="fa fa-retweet bg-green"></i>
                <span class="text-green">Cash Transfer</span>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="#/check/write" class="row">
                <i class="fa fa-pencil-square bg-black"></i>
                <span class="text-black">Write Check</span>
              </a>
            </li>
            <li class="col-xs-12 divider"></li>
            <li class="col-xs-6 border-right">
              <a href="#/drawer/manage/" class="row">
                <i class="fa fa-archive bg-black"></i>
                <span class="text-black">Drawer Manager</span>
              </a>
            </li>
            <li class="col-xs-6">
              <a href="#/check/maintenance" class="row">
                <i class="fa fa-wrench bg-red"></i>
                <span class="text-red">Checkbook Maintenance</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <form name="search_borrower" class="navbar-form navbar-left" role="search" ng-submit="search(query)">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" name="query" ng-model="query" placeholder="Search borrower name, ssn...">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle easing" data-toggle="dropdown">
            <i class="fa fa-user"></i> {{user.user_name}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu fx-slidedown" role="menu">
            <!--
            <li><a href="#/">Action</a></li>
            <li class="divider"></li>
            -->
            <li><a ng-click="logout()"> <i class="fa fa-sign-out"></i> Logout</a></li>
            <li><a href="#/changepassword"> <i class="fa fa-unlock-alt"></i> Change password</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</div>
