@{
    ViewBag.Title = "test";
}
@section scripts {
    <script src="~/App_Scripts/Controllers/AccountController.js"></script>
}

<div class="container" ng-controller="AccountForgotCtrl">
    <div class="row column full">
        <h2>@ViewBag.Title</h2>
    </div>
    <hr />
    <div class="row column full" ng-if="forgotPassword.IsSuccess == false">
        
        <form name="ForgotPassword" ng-submit="SubmitForgotPassword()">
            <div class="row">
                <div class="column third">["username"]</div>
                <div class="column two-thirds"><input ng-model="forgotPassword.UserName" class="form-control" required /></div>
                <span ng-model="forgotPassword.UserName"></span>
            </div>
            <div class="break"></div>
            <div class="row">
                <div class="column full"><input type="submit" value="newtokenbtn" class="btn btn-default" /></div>
            </div>
        </form>
    </div>
</div>